.FILM_STRIP {
  display: flex;
  justify-content: flex-end;
}

.FILM_STRIP img {
  animation: loop 60s infinite linear;
  height: 200px;
}

@keyframes loop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(100%);
  }
}
