#root {
  --app-max-width: 1920px;
  --black: #3c3733;
  --brown: #706962;
  --tan: #f4ede5;
  --vh: 1vh;
  --vw: 1vw;

  * {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

main * {
  color: var(--black);
}

main > *:not(header) {
  max-width: var(--app-max-width);
}
